.hamberger{
    width: 3em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hamberger-bar{
    background: black;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 90%;
    height: 0.5rem;
}