.footer{
   width: 100%;
   background:  #143774;
   color: #707070;
   text-align: center;
   padding: 2em 0;
   font-family: 'Ubuntu',sans-serif;
}
.footer-title,.footer-copyright{
    margin: 0;
}
.footer-title{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 700;
}
.footer-copyright{
    font-size: 0.825rem;
    font-weight: 300;
}
