.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.sticky{
    transition: 0.5s;
    position: sticky;
    top: 0;
}
.footer{
    margin-top: auto;
}